<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p4th.backend.mapper.CommentMapper">

    <!-- 댓글 목록 조회 -->
    <select id="getCommentsByPost" resultType="com.p4th.backend.domain.Comment">
        SELECT
            comment_id,
            post_id,
            parent_comment_id,
            user_id,
            content,
            status,
            status_changed_at,
            created_by,
            created_at,
            updated_by,
            updated_at
        FROM comment
        WHERE post_id = #{postId}
        ORDER BY created_at
    </select>

    <!-- 댓글 등록 -->
    <insert id="insertComment" parameterType="com.p4th.backend.domain.Comment">
        INSERT INTO comment (
            comment_id,
            post_id,
            parent_comment_id,
            user_id,
            content,
            created_by
        ) VALUES (
                     #{commentId},
                     #{postId},
                     #{parentCommentId},
                     #{userId},
                     #{content},
                     #{createdBy}
                 )
    </insert>

    <!-- 댓글 수정 -->
    <update id="updateComment">
        UPDATE comment
        SET content = #{content},
            updated_at = NOW()
        WHERE comment_id = #{commentId}
    </update>

    <!-- 댓글 삭제 -->
    <delete id="deleteComment">
        DELETE FROM comment
        WHERE comment_id = #{commentId}
    </delete>

    <select id="getCommentById" resultType="com.p4th.backend.domain.Comment">
        SELECT
            comment_id,
            post_id,
            parent_comment_id,
            user_id,
            content,
            created_at,
            created_by,
            updated_at,
            updated_by
        FROM comment
        WHERE comment_id = #{commentId}
    </select>

</mapper>
