<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p4th.backend.mapper.PostHistoryLogMapper">

    <insert id="insertHistoryLog" parameterType="com.p4th.backend.domain.PostHistoryLog">
        INSERT INTO post_history_log
        (
            history_id,
            post_id,
            period_type,
            period_start_date,
            period_end_date,
            view_count,
            comment_count,
            popularity_score,
            created_by
        )
        VALUES
            (
                #{historyId},
                #{postId},
                #{periodType},
                #{periodStartDate},
                #{periodEndDate},
                #{viewCount},
                #{commentCount},
                #{popularityScore},
                #{createdBy}
            )
    </insert>

    <!-- 인기 게시글 조회 -->
    <select id="getPopularPostsByPeriod" resultType="com.p4th.backend.dto.response.PopularPostResponse" parameterType="string">
        SELECT
            p.post_id AS postId,
            p.board_id AS boardId,
            p.user_id AS userId,
            u.nickname AS nickname,
            p.title AS title,
            c.category_name AS category,
            b.board_name AS boardName,
            p.view_count AS viewCount,
            p.comment_count AS commentCount,
            p.content AS content,
            p.created_at AS createdAt
        FROM post_history_log h
                 JOIN post p ON h.post_id = p.post_id
                 JOIN board b ON p.board_id = b.board_id
                 JOIN category c ON b.category_id = c.category_id
                 JOIN user_info u ON u.user_id = p.user_id
        WHERE h.period_type = #{period}
        ORDER BY h.popularity_score DESC
        LIMIT 20
    </select>

</mapper>
