<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p4th.backend.mapper.ScrapMapper">

    <resultMap id="scrapResultMap" type="com.p4th.backend.domain.Scrap">
        <id property="scrapId" column="scrap_id"/>
        <result property="userId" column="user_id"/>
        <result property="scrapFolderId" column="scrap_folder_id"/>
        <result property="postId" column="post_id"/>
        <result property="scrappedAt" column="scrapped_at"/>
        <association property="post" javaType="com.p4th.backend.domain.Post">
            <id property="postId" column="post_id"/>
        </association>
    </resultMap>

    <insert id="insertScrap" parameterType="com.p4th.backend.domain.Scrap">
        INSERT INTO scrap (scrap_id, user_id, scrap_folder_id, post_id)
        VALUES (#{scrapId}, #{userId}, #{scrapFolderId}, #{postId})
    </insert>

    <delete id="deleteScrap" parameterType="String">
        DELETE FROM scrap
        WHERE user_id = #{userId} AND scrap_id = #{scrapId}
    </delete>

    <select id="getScrapById" resultType="com.p4th.backend.domain.Scrap" parameterType="map">
        SELECT scrap_id, user_id, scrap_folder_id, post_id, scrapped_at
        FROM scrap
        WHERE scrap_id = #{scrapId} AND user_id = #{userId}
    </select>

    <select id="getScrapByPostAndUser" resultMap="scrapResultMap" parameterType="map">
        SELECT *
        FROM scrap
        WHERE post_id = #{postId} AND user_id = #{userId}
    </select>
</mapper>
