<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p4th.backend.mapper.ScrapMapper">

    <select id="getScrapsByUserId" resultType="com.p4th.backend.domain.Scrap">
        SELECT scrap_id, scrap_folder_id, post_id, scrapped_at
        FROM scrap
        WHERE post_id IN (
            SELECT p.post_id FROM post p WHERE p.user_id = #{userId}
        )
        ORDER BY scrapped_at DESC
    </select>

    <insert id="insertScrap" parameterType="com.p4th.backend.domain.Scrap">
        INSERT INTO scrap (scrap_id, scrap_folder_id, post_id, scrapped_at)
        VALUES (#{scrapId}, #{scrapFolderId}, #{postId}, #{scrappedAt})
    </insert>

    <delete id="deleteScrap" parameterType="String">
        DELETE FROM scrap
        WHERE scrap_id = #{scrapId}
    </delete>

</mapper>
